// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'LedDisplay';
  src: local('LedDisplay'), url(/fonts/The-Led-Display-St.ttf) format('truetype');
}